<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hi! I'm Alexey</h1>
	    <p>I am just trying to learn how to build awesome applications using Ruby on Rails</p>
		<p>This is my simple blog which created on Rails. Here I will be writing my minds in english/russian languages</p>
		<p> Enjoy! Hope this blog will be interesting not only for me</p>
	</div>
	</div>
</div>